body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: rgba(120, 120, 209, 0.707);
}

p {
    color: gray;
}

button {
    background-color: rgb(93, 237, 108);
    color: white;
    border: none;
    padding: 10px 20px;
}